################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CyclopeanOpticalFlow
/packages
/x64/Debug
