################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CyclopeanOpticalFlowCpp
/packages
/x64/Debug
